body {
  margin: 0%;
  font-family: 'Noto Sans JP', sans-serif;
}

body header nav {
  background-color: #313b44;
  display: flex;
}

body header nav div {
  width: 45%;
  display: flex;
  justify-content: center;
}

body header nav div h1 {
  font-size: 35px;
  font-weight: 400;
  margin: 1%;
  color: white;
}

body header nav div {
  width: 55%;
  margin-bottom: 0%;
}

body header nav div ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 0%;
  width: 100%;
}

body header nav div ul li {
  list-style: none;
  margin: 0%;
  padding: 3%;
  border-radius: 2px;
}

body header nav div ul li a {
  text-decoration: none;
  color: white;
}

body header nav div ul li:hover {
  background-color: blue;
  padding-bottom: 3%;
}

body header .banner {
  height: 500px;
}

body header .banner img {
  height: 500px;
  width: 100%;
}

body section:first-of-type {
  padding: 2% 20%;
  text-align: center;
  font-size: 30px;
  color: gray;
  background-color: #e6dcdc;
  font-weight: 500;
}

body section:first-of-type span:first-of-type {
  background-color: #278dbc;
  color: white;
}

body section:first-of-type span:nth-of-type(2) {
  color: #278dbc;
  font-weight: 600;
}

body section:first-of-type span:last-of-type {
  font-weight: bolder;
}

body section:nth-of-type(2) {
  padding: 0% 15%;
  background-color: #f3eded;
  color: gray;
}

body section:nth-of-type(2) .cards {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

body section:nth-of-type(2) .cards div {
  background-color: #d6cbcb;
  margin: 3% 2.5%;
  padding: 1%;
  border-radius: 3%;
}

body section:nth-of-type(2) .cards div i {
  border: 2px;
  border-radius: 50%;
  font-size: 30px;
  color: blue;
  padding: 5%;
  background-color: #f3eded;
}

body section:nth-of-type(2) .cards div h4 {
  margin-bottom: 0%;
  color: #5e5757;
}

body section:nth-of-type(2) .cards div span {
  color: blue;
  font-size: 14px;
}

body section:nth-of-type(2) .cards div p {
  font-size: 14px;
  padding-bottom: 15%;
}

body section:nth-of-type(3) {
  padding: 0% 15%;
  background-color: #f3eded;
  color: grey;
}

body section:nth-of-type(3) .row2 {
  display: flex;
  justify-content: space-between;
  padding: 4% 0%;
}

body section:nth-of-type(3) .row2 .recent {
  padding-right: 6%;
  width: 35%;
}

body section:nth-of-type(3) .row2 .recent h2 {
  font-weight: 500;
}

body section:nth-of-type(3) .row2 .recent p {
  font-size: 14px;
}

body section:nth-of-type(3) .row2 .recent p:nth-of-type(2) {
  color: #5e5757;
  font-weight: 400;
}

body section:nth-of-type(3) .row2 .recent button {
  background-color: #17889c;
  padding: 4% 3%;
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: bolder;
}

body section:nth-of-type(3) .row2 .cards2 {
  display: flex;
  width: 65%;
  padding-bottom: 6%;
  justify-content: space-around;
}

body section:nth-of-type(3) .row2 .cards2 div {
  width: 32%;
}

body section:nth-of-type(3) .row2 .cards2 div div {
  height: 170px;
  width: 100%;
}

body section:nth-of-type(3) .row2 .cards2 div div img {
  height: 100%;
  width: 100%;
}

body section:nth-of-type(3) .row2 .cards2 div .texte {
  padding: 3%;
  text-align: center;
  background-color: #06212f;
  width: 94%;
  height: fit-content;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

body section:nth-of-type(3) .row2 .cards2 div .texte h3 {
  margin: 4%;
  margin-bottom: 6%;
}

body section:nth-of-type(3) .row2 .cards2 div .texte p {
  margin: 3% 5%;
  font-size: 14px;
}

body footer {
  text-align: center;
  color: #7e8fa5;
}

body footer .bleu {
  background-color: #446196;
  padding: 1% 24%;
}

body footer .bleu h1 {
  letter-spacing: 4px;
  font-weight: 500;
}

body footer .bleu div {
  padding: 3% 0%;
}

body footer .bleu div i {
  font-size: 50px;
  margin: 0% 1%;
}

body footer .copyright {
  background-color: #2c2020;
  padding: 1%;
}

body footer .copyright p {
  color: #695757;
}

@media screen and (min-width: 320px) and (max-width: 599px) {
  header {
    padding: 0%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}
